.h5p-no-frame > .h5p-accordion {
  border: 1px solid #eee;
}
.h5p-accordion {
  background-color: var(--h5p-theme-ui-base);
  color: var(--h5p-theme-text-primary);
}
.h5p-accordion .h5p-panel-title {
  margin: var(--h5p-theme-spacing-xs) 0;
  color: var(--h5p-theme-text-primary);
  position: relative;
  font-size: var(--h5p-theme-font-size-xl);
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  -moz-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  display: flex;
  justify-content: flex-start;
 
}
.h5p-accordion .h5p-panel-button {
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-xl);

  /* Disable default button styling */
  background: var(--h5p-theme-alternative-light);
  border: none;
  cursor: pointer;
  outline: none;
  text-align: left;
  font-size: var(--h5p-theme-font-size-xl);
  color: var(--h5p-theme-text-primary);
  font-weight: 600;
   border-radius: var(--h5p-theme-border-radius-medium);
}
.h5p-accordion .h5p-panel-button:hover {
  background-color:  var(--h5p-theme-alternative-base);
  transition: all 0.1s linear 0s;
}
.h5p-accordion .h5p-panel-button[aria-expanded="true"] {
  background-color:  var(--h5p-theme-alternative-dark);
}

.h5p-accordion .h5p-panel-title:hover,
.h5p-accordion .h5p-panel-title:focus-within,
.h5p-accordion .h5p-panel-title:active {
  
}
.h5p-accordion .h5p-panel-title:first-of-type {
  border-top: 0;
}
.h5p-accordion .h5p-panel-focused {
  outline: auto; 
} 
.h5p-accordion .h5p-panel-button:before {
  font-family: 'H5PFontAwesome4';
  content: "\f105";
  position: absolute;
  left: var(--h5p-theme-spacing-m);
  -webkit-transition: all 200ms ease 0s;
  -moz-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}
.h5p-accordion .h5p-panel-expanded {
  color: var(--h5p-theme-text-primary);
}
.h5p-accordion .h5p-panel-expanded .h5p-panel-button:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.h5p-accordion .h5p-panel-content {
  display: none;
  padding: var(--h5p-theme-spacing-s);
  word-break: break-word;
  font-size: var(--h5p-theme-font-size-m);
}
.h5p-accordion .h5p-panel-content p {
  margin-top: 0;
}
