.h5p-no-frame > .h5p-accordion {
  border: 1px solid #eee;
}

.h5p-accordion {
  background-color: var(--h5p-theme-ui-base);
  color: var(--h5p-theme-text-secondary);
}

.h5p-accordion .h5p-panel-title {
  margin: 0;
  color: var(--h5p-theme-text-primary);
  position: relative;
  font-size: var(--h5p-theme-font-size-xl);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.h5p-accordion .h5p-panel-button {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-s);

  /* Disable default button styling */
  background: var(--h5p-theme-ui-base);
  border: none;
  cursor: pointer;
  outline: none;
  text-align: left;
  font-size: var(--h5p-theme-font-size-xl);
  color: var(--h5p-theme-text-secondary);
  font-weight: 600;
  border-radius: var(--h5p-theme-border-radius-medium);
  border-bottom: solid 1px var(--h5p-theme-stroke-1);
}

.h5p-accordion .h5p-panel-button:hover {
  background: var(--h5p-theme-alternative-light);
}

.h5p-accordion .h5p-panel-button:before:hover {
  background: var(--h5p-theme-alternative-light);
}

.h5p-accordion .h5p-panel-button[aria-expanded="true"] {
  background-color: var(--h5p-theme-ui-base);
  color: var(--h5p-theme-main-cta-base);
}

.h5p-accordion .h5p-panel-button[aria-expanded="true"]:hover{
  background: var(--h5p-theme-alternative-light);
}

.h5p-accordion .h5p-panel-title:first-of-type {
  border-top: 0;
}

.h5p-accordion .h5p-panel-title:last-of-type .h5p-panel-button {
  border-bottom: none;
}

.h5p-accordion .h5p-panel-title .h5p-panel-button:focus-visible {
  outline: 2px ridge var(--h5p-theme-main-cta-base);
  outline-offset: -2px;
  z-index: 1;
}

.h5p-accordion .h5p-panel-button:before {
  font-family: 'h5p-theme';
  content: "\e919";
  font-size: var(--h5p-theme-font-size-m);
  color: var(--h5p-theme-text-secondary);
  margin-right: var(--h5p-theme-spacing-xs);
  padding: var(--h5p-theme-spacing-xxs);
  border-radius: 50%;
  background-color: var(--h5p-theme-ui-base);
}

.h5p-accordion .h5p-panel-button:hover:before {
  background-color: color-mix(in srgb, var(--h5p-theme-main-cta-base), transparent 80%);
}

.h5p-accordion .h5p-panel-expanded .h5p-panel-button {
  border-bottom: none !important;
}

.h5p-accordion .h5p-panel-expanded .h5p-panel-button:before {
  /*-webkit-transform: rotate(90deg);
  transform: rotate(90deg);*/
  background-color: color-mix(in srgb, var(--h5p-theme-main-cta-base), transparent 80%);
  content: "\e91a";
  color: var(--h5p-theme-main-cta-base);
}

.h5p-accordion .h5p-panel-content {
  display: none;
  padding: var(--h5p-theme-spacing-xxs) var(--h5p-theme-spacing-s);
  word-break: break-word;
  font-size: var(--h5p-theme-font-size-m);
  padding-left: var(--h5p-theme-spacing-xl);
}

.h5p-accordion .h5p-panel-content p {
  margin-top: 0;
}
